* {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-size-adjust: 300%;
    font-size: 1.15rem; /* Increase base font size */
}

.centered {
    display: flex;
    justify-content: center;    
    text-align: center;
}

.side-by-side {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#flashcards-container {
    min-height: 75vh; /* Adjust the height as needed */
    position: relative;
    /* padding-bottom: 60px; Add padding to the bottom */
}

.smaller-padding {
    padding: 0px;
}

button {
    padding: 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Break long words */
    max-width: 100%; /* Ensure button does not exceed viewport width */
    overflow-wrap: break-word; /* Break long words */
}

.same-size {
    width: 45%;
    height: 20%;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
}

select {
    max-width: 60vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}

option {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
}